* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

input,
select {
    font: inherit;
}